<ion-content *ngIf="user$ | async as user">
	<ion-grid>
		<ion-row class="ion-justify-content-center ion-align-content-center">
			<ion-col size-md="9">
				<ion-header collapse="fade ion-no-border">
					<ion-row
						class="flex-column ion-justify-content-center ion-align-content-center ion-margin-bottom">
						<ion-row
							style="background-color: rgb(12, 105, 60); height: 40vh"
							class="flex-column ion-justify-content-center ion-align-items-center position-relative ion-margin-top">
							<ion-row
								style="background-color: rgb(143, 34, 34)"
								class="cursor-pointer position-absolute top-0 w-100 h-75 overflow-hidden ion-justify-content-center ion-align-items-center border-radius-1">
								<ion-img
									class="w-100 object-fit-cover"
									[src]="(profileCover$ | async) ?? svg"
									alt="profile Cover"></ion-img>
							</ion-row>
							<ion-row
								class="cursor-pointer position-absolute bottom-0 overflow-hidden ion-justify-content-center ion-align-items-center">
								<ion-avatar style="width: 9rem; height: 9rem">
									<ion-img
										class="w-100 h-100 object-fit-cover"
										[src]="(profilePicture$ | async) ?? svg"
										alt="profile Picture"></ion-img>
								</ion-avatar>
							</ion-row>
							<ion-button
								(click)="editProfile()"
								class="position-absolute bottom-0 end-0"
								fill="outline"
								slots="end"
								>Edit Profile</ion-button
							>
						</ion-row>
						<ion-row
							class="flex-column ion-justify-content-center ion-align-items-center ion-margin-top">
							<ion-item lines="none">
								<h2 class="ion-text-center">{{ user?.fullName }}</h2>
							</ion-item>
							<ion-label color="medium" class="ion-text-center">
								{{ user?.username }}
							</ion-label>
						</ion-row>

						<ion-row
							class="ion-justify-content-center ion-align-items-center ion-padding">
							<p
								[style]="
									'width: max-content; background-color:' + user?.bio?.color
								"
								class="ion-text-center border-radius-4 ion-padding fs-italic">
								{{ user?.bio?.text }}
							</p>
						</ion-row>
					</ion-row>
				</ion-header>
				<ion-row
					class="ion-justify-content-center ion-align-items-center ion-padding">
					<ion-chip
						aria-label="interest"
						*ngFor="let interest of user?.interests"
						[style]="'background-color:' + interest.color"
						class="ion-justify-content-center ion-align-content-center ion-padding">
						<ion-label color="dark"> {{ interest.text }}</ion-label>
					</ion-chip>
				</ion-row>

				<section
					*ngIf="stories$ | async as stories"
					class="row ion-justify-content-center ion-align-items-center mt-3">
					<div class="col" *ngFor="let story of stories">
						<!-- <img [src]="	backendUrl+'/api/v1/user/picture/' + story.cover_image" alt="Story photo" /> -->

						<ng-container *ngFor="let category of story?.category">
							<h4>{{ category.text }}</h4>
						</ng-container>
					</div>
				</section>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
