<ion-header>
	<ion-toolbar>
		<ion-row class="ion-justify-content-center ion-align-items-center">
			<ion-button fill="back" (click)="goBack()"
				><ion-icon name="arrow-back"></ion-icon
			></ion-button>

			<ion-title class="ion-text-center">Edit profile</ion-title>

			<ion-button fill="clear" (click)="onSubmit()" [strong]="true"
				>Save</ion-button
			>
		</ion-row>
	</ion-toolbar>
</ion-header>

<ion-content *ngIf="user$ | async as user">
	<form
		style="cursor: auto"
		type="submit"
		[formGroup]="profileForm"
		enctype="multipart/form-data">
		<ion-grid>
			<ion-row class="ion-justify-content-center ion-align-items-center">
				<ion-col size="9" (click)="$event.stopPropagation()">
					<ion-row
						class="flex-column ion-justify-content-center ion-align-content-center ion-margin-bottom">
						<ion-row
							style="background-color: rgb(12, 105, 60); height: 40vh"
							class="flex-column ion-justify-content-center ion-align-items-center position-relative ion-margin-top"
							(click)="$event.stopPropagation()">
							<ion-row
								style="background-color: var(--ion-color-medium)"
								class="cursor-pointer position-absolute top-0 w-100 h-75 overflow-hidden ion-justify-content-center ion-align-items-center border-radius-1"
								(change)="profileCover(profileCoverInput)"
								(click)="profileCoverInput.click()">
								<ion-img
									class="w-100 object-fit-cover"
									[src]="(profileCoverUrl$ | async) ?? svg"
									alt="profile Cover"></ion-img>

								<input
									#profileCoverInput
									type="file"
									style="display: none; cursor: none" />

								<ion-icon
									style="width: 2rem; height: 2rem"
									color="primary"
									name="camera"></ion-icon>
							</ion-row>

							<ion-row
								class="cursor-pointer position-absolute bottom-0 overflow-hidden ion-justify-content-center ion-align-items-center"
								(change)="profilePicture(profilePictureInput)"
								(click)="profilePictureInput.click()">
								<ion-avatar
									style="width: 9rem; height: 9rem"
									class="border-primary">
									<ion-img
										class="w-100 h-100 object-fit-cover"
										[src]="(profilePictureUrl$ | async) ?? svg"
										alt="profile Picture"></ion-img>
								</ion-avatar>
								<ion-icon
									class="position-absolute"
									color="primary"
									style="width: 2rem; height: 2rem"
									name="camera"></ion-icon>

								<input
									#profilePictureInput
									type="file"
									style="display: none; cursor: none" />
							</ion-row>
						</ion-row>
					</ion-row>

					<ion-col size="12">
						<ion-item (click)="$event.stopPropagation()" lines="none">
							<span
								class="w-100 border-radius-1 ion-padding"
								[style.background]="color">
								<ion-label position="floating">Bio</ion-label>
								<ion-input
									(click)="changeColor()"
									style="height: 4rem"
									placeholder="Bio"
									spellcheck="true"
									maxlength="100"
									formControlName="bio"
									[value]="user.bio?.text"></ion-input>
							</span>
						</ion-item>
						<ion-item lines="none">
							<ion-label
								*ngIf="profileForm?.['controls']?.['bio']?.['errors']?.['minlength']">
								Bio must be at least
								{{ profileForm?.['controls']?.['bio']?.['errors']?.['minlength']?.requiredLength	?? '10' }}
								characters.
							</ion-label>

							<ion-label
								color="danger"
								*ngIf="profileForm?.['controls']?.['bio']?.['errors']?.['maxlength']">
								Bio must be maximum
								{{ profileForm?.['controls']?.['bio']?.['errors']?.['maxlength']?.requiredLength	?? '50' }}
								characters.
							</ion-label>
						</ion-item>
					</ion-col>

					<ion-col size="12">
						<ion-chip
							aria-label="Interest"
							style.background-color="  {{ interest.color }}"
							class="ion-color-dark"
							*ngFor="let interest of chips">
							<ion-label>
								{{ interest.text }}
							</ion-label>
							<ion-button
								slots="icon-only"
								fill="clear"
								(click)="remove(interest)">
								<ion-icon name="close"></ion-icon>
							</ion-button>
						</ion-chip>

						<ion-item class="ion-margin-top">
							<ion-label position="floating">Interest</ion-label>
							<ion-row class="w-100 ion-justify-content-between">
								<ion-input
									#interest
									spellcheck="true"
									placeholder="Add new Interest...">
								</ion-input>
								<ion-button slots="end" fill="clear" (click)="add(interest)">
									<ion-icon class="vw-2" name="add-circle"></ion-icon>
								</ion-button>
							</ion-row>
						</ion-item>
						<ion-item lines="none">
							<ion-label
								class="fs-error"
								color="danger"
								*ngIf="profileForm?.['controls']?.['interests']?.['errors']?.['invalid']">
								Interests must be less than 10
							</ion-label>
						</ion-item>
					</ion-col>
					<ion-col size="12">
						<ion-item>
							<ion-label position="floating">Username</ion-label>
							<ion-input
								placeholder="Username"
								formControlName="username"></ion-input>
						</ion-item>
						<ion-item lines="none">
							<ion-label
								class="fs-error"
								color="danger"
								*ngIf="profileForm?.['controls']?.['username']?.['errors']?.['nonUniqueUsername']">
								Username has already been taken
							</ion-label>
							<ion-label
								class="fs-error"
								color="danger"
								*ngIf="profileForm?.['controls']?.['username']?.['errors']?.['pattern']">
								Username must be only with numbers and characters
							</ion-label>
						</ion-item>
					</ion-col>

					<ion-col size="12">
						<ion-item>
							<ion-label position="floating">Display Name</ion-label>
							<ion-input
								formControlName="fullName"
								placeholder="Display Name"></ion-input>
						</ion-item>
						<ion-item lines="none">
							<ion-label
								class="fs-error"
								color="danger"
								*ngIf="profileForm?.['controls']?.['fullName']?.['errors']?.['pattern']">
								Display name is not correct
							</ion-label>
						</ion-item>
					</ion-col>

					<ion-col offset="4" class="ion-margin-bottom ion-padding">
						<ion-chip
							class="ion-padding"
							outline="true"
							aria-label="female"
							[color]="
								'female' === profileForm.value['sex'] ? 'primary' : 'medium'
							"
							(click)="this.profileForm.controls['sex'].patchValue('female')">
							Female
						</ion-chip>
						<ion-chip
							class="ion-padding"
							outline="true"
							aria-label="male"
							(click)="this.profileForm.controls['sex'].patchValue('male')"
							[color]="
								'male' === profileForm.value['sex'] ? 'primary' : 'medium'
							">
							Male
						</ion-chip>
					</ion-col>
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>
</ion-content>
