/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

// @import 'bootstrap/scss/bootstrap.scss';

@import 'bootstrap/dist/css/bootstrap.min.css';

body {
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	font-size: clamp(105%, calc(100% + 0.5vw), 150%);
	margin: 0;
	color: currentColor;
	// background-color: map_get(mat.$blue-grey-palette, 900);
}

button {
	font-family: inherit;
}

html,
body {
	height: 100%;
}

// :root {
// --mat-bg: #ff72aa;

// --bg-primary: #04162e;

// --bg-primary-darker: #020f1f;
// --font-primary-dark-color: #1d2129;

// --font-primary-color: #fff;

// --font-primary-bg: #ff5757;

// --font-hover-primary-color: #c6c6c6;

// --font-hover-primary-dark-color: #0c0e13;

// --font-hover-primary-bg: #b83d3d;

// --border: #bcbcbc;

// --box-shadow: #d7d7d780;

// --hover-box-shadow: #ffbcbc80;

// --focus-primary-color: rgb(26, 58, 75);

// --resend-color: #144166;
// }

.link {
	text-decoration: none;
	background-color: transparent;
}

.br-04 {
	border-radius: 4rem;
}

.border-grey-blue {
	border: 0.1rem solid #2f3644;
}

.vh-25 {
	height: 25vh;
}

.text-grey {
	color: var(--bs-grey-palette) !important;
}

.bg-unknown {
	background-color: var(--bs-red-palette) !important;
}

.dark-primary-bg {
	background-color: #262c38;
}

.darker-primary-bg {
	background-color: #1a1e27;
}

.snack-bar-danger {
	background-color: var(--bg-red-palette) !important;
	// color: var(--bs-red-palette-warn) !important;
}

.snack-bar-success {
	background-color: var(--bg-green-palette) !important;
	// color: var(--bs-dark-grey-palette) !important;
}

.box-shadow-and-border {
	@media (min-width: 575px) {
		border-radius: 0.8rem;
	}

	@media (max-width: 575px) {
		box-shadow: none !important;
		border: 0;
	}
}
