/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

@import 'bootstrap/dist/css/bootstrap.min.css';

body {
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	font-size: clamp(105%, calc(100% + 0.5vw), 150%);
	margin: 0;
	color: currentColor;
}

button {
	font-family: inherit;
}

html,
body {
	height: 100%;
}

.link {
	text-decoration: none;
	background-color: transparent;
}

.border-radius-2 {
	border-radius: 2rem;
}

.border-radius-4 {
	border-radius: 4rem;
}

.border-grey-blue {
	border: 0.1rem solid #2f3644;
}

.vh-25 {
	height: 25vh;
}

.text-dark {
	color: var(--ion-color-dark) !important;
}

.text-light {
	color: var(--ion-color-light-shade) !important;
}

.bg-unknown {
	background-color: var(--ion-color-danger-shade) !important;
}

.ion-color-dark {
	color: var(--ion-color-dark) !important;
}

.dark-primary-bg {
	background-color: #262c38;
}

.darker-primary-bg {
	background-color: #1a1e27;
}

.snack-bar-danger {
	background-color: var(--ion-color-danger-shade) !important;
}

.snack-bar-success {
	background-color: var(--ion-color-success-shade) !important;
}

.box-shadow-and-border {
	@media (min-width: 575px) {
		border-radius: 0.8rem;
	}

	@media (max-width: 575px) {
		box-shadow: none !important;
		border: 0;
	}
}

.cursor-pointer {
	cursor: pointer !important;
}
