@use '@angular/material' as mat;

@include mat.core();

// Define a light theme
$light-primary: mat.define-palette(mat.$blue-palette, 700);
$light-accent: mat.define-palette(mat.$pink-palette, 700);
$light-warn: mat.define-palette(mat.$red-palette, 700);
$light-background-color: map_get(mat.$blue-grey-palette, 50);
$light-theme: mat.define-light-theme(
	(
		color: (
			primary: $light-primary,
			accent: $light-accent,
			warn: $light-warn,
		),
	)
);

////////////////////////////////////////////////////////////

// Define a dark theme
$dark-primary: mat.define-palette(mat.$pink-palette, 100);
$dark-accent: mat.define-palette(mat.$blue-palette, 100);
$dark-warn: mat.define-palette(mat.$red-palette, 300);
$dark-background-color: #262c38;
$dark-theme: mat.define-dark-theme(
	(
		color: (
			primary: $dark-primary,
			accent: $dark-accent,
			warn: $dark-warn,
		),
	)
);

:root {
	--bg-red-palette: #e57373;

	--bs-red-palette: #ffcdd2;

	--bg-green-palette: #81c784;

	--bs-green-palette: #c8e6c9;

	--bs-grey-palette: #bdbdbd;

	--bs-light-pink-palette: #fce4ec;

	--bs-dark-pink-palette: #d81b60;

	--bs-light-blue-palette: #e3f2fd;

	--bs-dark-blue-palette: #1e88e5;

	--bs-dark-grey-primary-palette: #262c38;

	--bs-pink-primary-palette: ##f8bbd0;
}

.my-dark-theme {
	color: var(--bs-light-pink-palette);
	background-color: $dark-background-color;
	@include mat.all-component-themes($dark-theme);
}
// Apply the light theme only when the `.my-light-theme` CSS class is applied
// to an ancestor element of the components (such as `body`).
.my-light-theme {
	color: var(--bs-dark-pink-palette);
	background-color: $light-background-color;
	@include mat.all-component-themes($light-theme);
}
