<div class="container bg-svg">
	<div
		(click)="$event.stopPropagation()"
		class="d-flex justify-content-center align-items-center vh-100"
	>
		<div class="col-sm-8 col-md-6">
			<form
				class="row justify-content-center align-items-center gap-3 bg-primary rounded p-2"
				(ngSubmit)="onSubmit()"
				[formGroup]="storyForm"
			>
				<input
					type="file"
					style="background: transparent; border: 0; height: 15vh"
					class="w-100 text-light p-5 fs-3"
					[formControlName]="'description'"
				/>

				<mat-chip-list
					color="primary"
					#chipList
					aria-label="Category selection"
					class="p-5"
				>
					<mat-chip
						*ngFor="let category of categories"
						(removed)="remove(category)"
					>
						{{ category }}
						<button matChipRemove>
							<mat-icon>cancel</mat-icon>
						</button>
					</mat-chip>
					<input
						class="story-category"
						[formControlName]="'category'"
						spellcheck="true"
						placeholder="New Category..."
						[matChipInputFor]="chipList"
						[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
						[matChipInputAddOnBlur]="addOnBlur"
						(matChipInputTokenEnd)="add($event)"
					/>
				</mat-chip-list>

				<div class="row justify-content-center align-items-center">
					<div class="row">
						<button class="fs-5" mat-raised-button color="accent" type="submit">
							Post
						</button>
					</div>
				</div>
			</form>

			<!-- <mat-form-field class="w-100" appearance="outline">
        <mat-label>Description</mat-label>
        <input
            spellcheck="true"
            matInput
            placeholder="Write your story's description here"
        />
    </mat-form-field> -->
		</div>
	</div>
</div>
