/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

// @import 'bootstrap/scss/bootstrap.scss';

body {
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	font-size: 62.5%;
	margin: 0;
	color: var(--bs-white);
	background-color: var(--bg-primary);
}

button {
	font-family: inherit;
}

html,
body {
	height: 100%;
}

:root {
	--mat-bg: #c2185b;

	--bg-primary: #000a18;

	--bg-primary-darker: #010812;
	// --font-primary-dark-color: #1d2129;

	// --font-primary-color: #fff;

	// --font-primary-bg: #ff5757;

	// --font-hover-primary-color: #c6c6c6;

	// --font-hover-primary-dark-color: #0c0e13;

	// --font-hover-primary-bg: #b83d3d;

	// --border: #bcbcbc;

	// --box-shadow: #d7d7d780;

	// --hover-box-shadow: #ffbcbc80;

	// --focus-primary-color: rgb(26, 58, 75);

	// --resend-color: #144166;
}

.mat-bg {
	background-color: var(--mat-bg);
}

.bg-primary {
	background-color: var(--bg-primary);
}

.bg-primary-darker {
	background-color: var(--bg-primary-darker);
}

.link {
	text-decoration: none;
	background-color: transparent;
}

.br-04 {
	border-radius: 4rem;
}

.vh-25 {
	height: 25vh;
}

.bg-unknown {
	background-color: #c2185c52;
}
