<ion-progress-bar
	*ngIf="executingLoader$ | async"
	class="position-fixed top-0 z-index-20k"
	color="primary"
	role="progressbar"
	aria-label="progressbar">
</ion-progress-bar>

<ion-router-outlet></ion-router-outlet>

<!-- <ion-tab-button role="button" (click)="changeTheme()">
	<ion-icon *ngIf="iconType.value === 'light'" name="sunny"></ion-icon>
	<ion-icon *ngIf="iconType.value === 'dark'" name="moon"></ion-icon>
</ion-tab-button> -->

<ion-tabs *ngIf="authenticated$ | async" class="position-fixed" role="tab">
	<ion-tab-bar slot="bottom" role="tab">
		<ion-tab-button
			role="button"
			[routerLink]="['/', 'profile', userId$ | async]"
			routerDirection="forward">
			<ion-icon name="person"></ion-icon>
			<ion-label>Profile</ion-label>
		</ion-tab-button>

		<ion-tab-button [routerLink]="['/']" routerDirection="root" role="button">
			<ion-icon name="home"></ion-icon>
			<ion-label>Home</ion-label>
		</ion-tab-button>

		<ion-tab-button
			role="button"
			[routerLink]="['/', 'auth', 'logout']"
			routerDirection="forward">
			<ion-icon name="log-out"></ion-icon>
			<ion-label>Logout</ion-label>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>

<!-- <div
	style="background-color: #2921258c; z-index: 2000"
	class="vh-100 vw-100 row ion-justify-content-center ion-align-items-center position-fixed"
	*personaAppShellRender>
	<h1
		style="
			font-family: system-ui, cursive;
			font-size: calc(3rem + 4vw);
			font-weight: 600;
		"
		class="ion-text-center">
		persona
	</h1>
</div> -->
